.city-selector-wrapper {
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .city-selector {
        background: white;
        border: 1px solid #efefef;
        border-radius: 0.5rem;
        padding: 1rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        animation: menu-animation 0.25s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        z-index: 666;

        .address-input-wrapper {
            margin-top: 1rem;
        }

        .suggestion-list {
            width: 100%;
        }

        .current-city {
            font-weight: 300;
            margin: 0.5rem 0;
        }

        .selector-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .btn-wrapper {
                font-size: 1.5rem;
                .btn {
                    padding: 0.25rem !important;
                    border: none;
                    &:hover {
                        color: tomato;
                        cursor: pointer;
                        box-shadow: none;
                    }
                }
            }

            h2 {
                margin: 0;
            }
        }
    }
}

@keyframes selector-animation {
    from {
        opactity: 0;
        top: -100%;
    }
    to {
        opacity: 1;
        top: 100%;
    }
}
