.input-wrapper {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;

    input {
        width: 100%;
        padding: 0.875rem;
        border: 1px solid transparent;
        border-radius: 0.75rem;
        font-size: 1rem;
        color: #444;
        background: rgb(245, 245, 245);
        font-family: inherit;
        font-weight: 300;

        &:focus {
            outline: none;
            background: white;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
            border-color: rgb(240, 240, 240);
            background-clip: padding-box;
        }

        &::placeholder {
            color: #999;
        }
    }
}
