.btn-wrapper {
    display: flex;
    flex-direction: row;

    a {
        text-decoration: none;
    }

    .btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 0.625rem 1rem;

        font-size: 1rem;

        background: none;
        border: 1px solid #f3f3f3;
        color: inherit;
        border-radius: 0.375rem;

        font-weight: 500;

        font-family: inherit;

        &:hover {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
            cursor: pointer;
        }

        .btn-icon {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
        }
    }
    .active-btn {
        background: #334abb;
        color: white;
    }
}

.btn-icon {
    .btn-title {
        margin-left: 0.375rem;
    }
}
