.menu-desktop,
.menu-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    background: white;
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 1rem;

        .menu-item {
            margin: 0 1rem;
            .active {
                color: #334abb !important;
                border-bottom: 1px solid #334abb;
            }
            a {
                color: inherit;
                text-decoration: none;
                font-weight: 400;
                font-size: 1rem;

                &:visited {
                    color: inherit;
                }
                &:hover {
                    color: black;
                }
            }
        }
    }
}

.menu-mobile {
    position: relative;
    display: none;
    opacity: 0;
    animation: menu-animation 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    z-index: 1;
    justify-content: start;
    .menu {
        display: flex;
        flex-direction: column;
        .menu-item {
            margin: 0.25rem 0rem;
            padding: 0.625rem 1rem;
            width: 100%;
            a {
                font-size: 1rem;
            }
        }
    }
}

@keyframes menu-animation {
    from {
        opactity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
