.app {
    font-family: Roboto;
    color: #5c5c5c;
    .app-header {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    }
    .content-layout-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        .content-layout {
            margin: 1rem;
            max-width: 1024px;
            width: 100%;
        }
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}
