.layout-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    .layout {
        max-width: 1024px;
        width: 100%;
        display: flex;
    }
}

.title-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #efefef;
    padding: 0 1rem;
    background: white;
    .title {
        max-width: 1024px;
        width: 100%;
        display: flex;
        color: #333;
    }
}
