.card {
    display: flex;
    flex-direction: column;
    color: #333;

    background: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

    margin: 1rem;

    .card-loader {
        max-width: 100%;
    }

    .card-content {
        padding: 0 1rem;

        .card-field {
            display: flex;
            flex-direction: row;
            align-items: center;

            font-weight: 300;

            margin: 1rem 0;
            font-size: 1rem;

            .icon {
                margin-right: 0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
