.card-wrapper {
    display: flex;
    margin: 1rem;

    .card {
        display: flex;
        flex-direction: column;
        width: 18.75rem;

        border: 1px solid #EFEFEF;
        border-radius: 0.5rem;

        text-align: start;

        overflow: hidden;

        &:hover {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
        }

        .card-img-wrapper {
            width: 100%;
            display: flex;
            img {
                max-width: 100%;
            }
        }
        .description {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-start;
            justify-content: flex-start;
            
            .title {
                font-size: 16px;
                margin: 1rem 0;
            }

            .price {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .amount {
                    font-weight: 600;
                    color: black;
                    font-size: 1rem;
                }
                .period {
                    font-weight: 300;
                    font-size: 0.625rem;
                    text-transform: uppercase;
                }
            }
            .info {
                margin-top: 1rem;
            }
            .specs {
                margin-top: 1rem;
                font-size: 0.875rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                .rooms {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #4AB4EF;
                    padding-right: 0.5rem;
                    margin-right: 0.5rem;
                    border-right: 1px solid #5C5C5C;
                }
                .size {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-right: 0.5rem;
                    margin-right: 0.5rem;
                    border-right: 1px solid #5C5C5C;
                    color: black;
                    font-weight: bold;
                }
                .floor {
                    color: black;
                    font-weight: bold;
                }
            }
            .address {
                margin-top: 1rem;
                font-size: 0.875rem;
            }
            .detail {
                display: flex;
                flex-direction: row;
                margin-top: 1rem;
                width: 100%;
                .more-info-btn {
                    width: 100%;
                    margin-right: 0.5rem;
                    .btn {
                        width: 100%;
                    }   
                }
                .add-to-favorite {
                    .btn {
                        padding: 0.625rem;
                    }
                }
            }
        }
    }
}