.favorite-page {
    .title-wrapper {
        .title {
            margin: 1rem 0;
            h1 {
                margin: 0 0 0.5rem 0 !important;
            }

            .select-sort {
                font-size: 0.875rem;
            }
        }
    }
}
