.address-input-wrapper {
    display: flex;

    background-color: white;

    .address-input {
        display: flex;
        flex-direction: column;
        position: relative;

        .input-wrapper {
            margin: 0;
            input {
                width: 16rem;
            }
        }

        .suggestion-list {
            background-color: white;
            position: absolute;
            top: 100%;
            overflow: hidden;

            padding: 0.625rem 0;
            border: 1px solid #efefef;
            border-radius: 0.5rem;
            margin-top: 1px;

            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

            .suggestion-item {
                white-space: nowrap;
                background: none;
                color: inherit;
                padding: 0.3125rem 0.875rem;

                &:hover {
                    background: #f3f3f3;
                    color: black;
                    cursor: pointer;
                }
            }
        }
    }
}
