.header-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid #eaeaea;

    background: white;
    z-index: 2;
    .header-popup {
        &::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            background: rgba(0, 0, 0, 0.2);
        }
    }
    .header {
        display: flex;
        justify-content: center;
        align-items: center;

        max-width: 1024px;
        margin: 1rem;
        width: 100%;

        .header-btn {
            display: flex;

            .btn-wrapper {
                margin: 0 0.5rem;
                .btn-title {
                    white-space: nowrap;
                }
            }
            .mobile-menu-btn {
                display: none;
            }
        }
        .logo-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-right: auto;
            .logo-img {
                height: 40px;
                width: 40px;
            }
            .logo-title {
                font-weight: bold;
            }
        }
    }
}

.layout-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #efefef;
    .layout-title {
        max-width: 1024px;
        width: 1024px;
        margin: 0 1rem;
    }
}

.auth-popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 666;
    display: flex;
    justify-content: center;
    align-items: center;
    .close {
        position: fixed;
        background: rgba(0, 0, 0, 0.1);
        height: 200%;
        width: 100%;
        z-index: 666;
    }
    .authentication-wrapper {
        z-index: 777;
    }
}

@media screen and (max-width: 900px) {
    .header {
        .logo-wrapper {
            display: none !important;
        }
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 670px) {
    .header {
        .logo-wrapper {
            display: flex !important;
        }
        .btn-wrapper {
            .btn {
                .btn-title {
                    display: none !important;
                }
                .btn-icon {
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .header {
        .logo-wrapper {
            display: none !important;
        }
        .mobile-menu-btn {
            display: flex !important;
        }
    }
    .menu-desktop {
        display: none !important;
    }
    .menu-mobile {
        display: flex !important;
    }
}

@media screen and (max-width: 374px) {
    html {
        font-size: 12px;
    }
}
