.authentication-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #333;

    max-width: 25rem;
    width: 100%;

    .close-btn-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .icon {
            font-size: 1.5rem;
            color: #505050;
            &:hover {
                cursor: pointer;
                color: tomato;
            }
        }
    }

    .authentication {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: white;
        padding: 1rem;
        border-radius: 1rem;
        border: 1px solid #efefef;
        width: 100%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
        .btn-wrapper {
            margin: 1rem 0;
            button.invalid {
                background: lighten(#334abb, 20);
            }
            button {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 0.875rem;
                font-size: 1rem;
                border: none;
                background: #334abb;
                color: white;
                font-weight: bold;
                border-radius: 0.75rem;
                &:hover {
                    cursor: pointer;
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
                }
                .hidden {
                    opacity: 0;
                }
            }
        }
        .header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2 {
                margin: 1rem 0;
            }
            p {
                display: flex;
                font-weight: 300;
                font-size: 1rem;
            }
            .sign-in,
            .sign-up {
                cursor: pointer;
                margin-left: 4px;
                text-decoration: underline;
            }
        }
    }
}

.auth-popup {
    animation: auth-animation 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.register-wrapper,
.login-wrapper {
    display: flex;
    width: 100%;

    .register,
    .login {
        display: flex;
        flex-direction: column;
        width: 100%;

        .error {
            display: flex;
            font-weight: 300;
            color: tomato;
            margin: 0.5rem;
            font-size: 0.75rem;
        }

        .form-wrapper {
            form {
                margin: 2rem 1rem;
                .input-wrapper {
                    margin: 1rem 0;
                    display: flex;
                    flex-direction: column;
                    input {
                        width: 100%;
                        padding: 0.875rem;
                        border: 1px solid transparent;
                        border-radius: 0.75rem;
                        font-size: 1rem;
                        color: #444;
                        background: rgb(245, 245, 245);
                        font-family: inherit;
                        font-weight: 300;
                        &:focus {
                            outline: none;
                            background: white;
                            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
                            border-color: rgb(240, 240, 240);
                            background-clip: padding-box;
                        }
                        &::placeholder {
                            color: #999;
                        }
                    }
                    label {
                        display: none;
                    }
                }
                .row-input-wrapper {
                    display: flex;
                    flex-direction: row;
                    margin: 1rem 0;
                    .input-wrapper {
                        margin: 0;
                        margin-right: 0.125rem;
                        &:first-of-type {
                            input {
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 0;
                            }
                        }
                        &:last-of-type {
                            input {
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes auth-animation {
    from {
        opactity: 0;
        top: -50%;
    }
    to {
        opacity: 1;
        top: 0;
    }
}
