* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
    color: #5c5c5c;
    background: #e4e5e7;
}
