.add-card {
    padding: 2rem;
    background: white;
    border-radius: 1rem;
    margin: 1rem;
    color: #333;

    .card-title {
        margin-bottom: 2rem;
        h1 {
            margin: 0;
        }
    }

    .input-title {
        margin: 2rem 0 0.5rem 0;
        font-size: 1.25rem;
        font-weight: 500;
    }

    .input-wrapper {
        max-width: 15rem;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .error {
        color: tomato;
        font-size: 0.875rem;
        margin-top: 0.5rem;
    }

    .upload-images {
        font-weight: 300;
        display: flex;
        flex-direction: column;
        .images-list {
            margin-top: 0.25rem;
            display: flex;
            flex-direction: column;
        }
    }

    &__title {
        margin: 1rem 0 0.5rem 0;

        font-size: 24px;
        font-weight: bold;

        color: #000;
    }
    &__line {
        width: 100%;
        height: 1px;

        background: #eaeaea;
    }
    &__subtitle {
        margin: 1rem 0 0.5rem 0;
        font-size: 20px;
        font-weight: bold;
    }

    .select-type-wrapper {
        max-width: 15rem;
    }

    &__rooms {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 1;

        width: 200px;

        margin: 1rem 0;

        cursor: pointer;

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 0.875rem;

            border: 1px solid #f3f3f3;
            &--selected {
                display: flex;
                align-items: center;
                justify-content: center;

                padding: 10px;

                color: #fff;
                background-color: #334abb;
            }
        }
    }
    &__input-wrapper {
        width: 100%;
        position: relative;
        margin: 1rem 0;
        text-align: center;
    }

    &__input-file {
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }

    &__input-file-button-text {
        line-height: 1;
        margin-top: 1px;
    }

    &__input-file-button {
        width: 180px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 0.625rem 1rem;

        font-size: 1rem;

        background: #334abb;
        border: 1px solid #efefef;
        color: #fff;
        border-radius: 0.375rem;

        font-weight: 500;

        font-family: inherit;
        text-decoration: none;

        &:hover {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
            cursor: pointer;
        }
    }
    &__textarea {
        resize: none;

        max-width: 400px;
        width: 100%;
        height: 160px;

        padding: 1rem;

        font-family: Roboto, sans-serif;

        border: 1px solid #efefef;
        border-radius: 0.5rem;
    }

    .add-card-btn {
        .btn {
            background-color: #334abb;
            color: white;
        }
    }

    .add-card-btn.invalid {
        .btn {
            background: white;
            color: inherit;
        }
    }
}

@media screen and (max-width: 425px) {
    .add-card {
        margin: 0 !important;
    }
}
